.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 61px);
    padding-inline: 16px;
    flex-wrap: wrap;
    @media screen and (max-width: 577px) {
        margin-top: 20px;
    }
}